html {

    scroll-behavior: smooth;

}

body {
    background-color: #d97706;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 250px;


}

h1:hover {

    color: white;


}


p:hover {

    color: #c08457;


}

.t1 {

    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;

}

.t2 {

    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;

}